<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Editar Persona</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
    <form (ngSubmit)="submitPersonaForm()" #myForm="ngForm">
        <!-- Left block -->
        <mat-card>

            <!-- Nombre -->
            <mat-form-field>
                <input matInput placeholder="Nombre" [(ngModel)]="persona.nombre" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ]{4,}" id="nombre" name="nombre" minlength="4" required>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- Apellidos -->
            <mat-form-field>
                <input matInput placeholder="Apellidos" [(ngModel)]="persona.apellidos" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]{4,}" id="apellidos" name="apellidos" minlength="4" required>
            </mat-form-field>

            <br />
            <!-- Edad -->
            <mat-form-field>
                <input matInput type="number" placeholder="Edad" [(ngModel)]="persona.edad" id="edad" name="edad" min="0" max="125" pattern="[0-9]{0,3}" required>

                <div *ngIf="persona.edad >125">
                    <mat-hint class="error">Debe ser menor o igual a 125</mat-hint>
                </div>
                <div *ngIf="persona.edad <0">
                    <mat-hint class="error">Debe ser mayor o igual a 0</mat-hint>
                </div>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- DNI -->
            <mat-form-field>
                <input matInput placeholder="DNI" [(ngModel)]="persona.dni" id="dni" name="dni" pattern="[a-zA-Z0-9]{9}" minlength="9" maxlength="9" required>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- Color -->
            <mat-form-field>
                <input matInput placeholder="Color preferido" [(ngModel)]="persona.color" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ]{4,}" id="color" name="color" minlength="4" required>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;


            <!-- Nota (Campo opcional) -->
            <mat-form-field>
                <input matInput placeholder="Nota" [(ngModel)]="persona.notas" id="notas" name="notas">
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;

        </mat-card>

        <!-- Right block -->
        <mat-card>
            <div class="controlers-wrapper">
                <!-- Date of birth -->
                <mat-form-field>
                    <input matInput readonly [matDatepicker]="picker" placeholder="Fecha Nacimiento" [(ngModel)]="persona.birthday" id="birthday" name="birthday" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <!-- Sexo -->
                <mat-form-field>
                    <mat-select placeholder="Sexo" name="sexo" [(ngModel)]="persona.sexo" [(value)]="sexo" required>
                        <mat-option *ngFor="let s of sexos" [value]="s.value">
                            {{ s.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </mat-card>

        <!-- Submit & Reset -->
        <mat-card>
            <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                    <button mat-raised-button color="primary" [disabled]="myForm.form.invalid" type="submit">Enviar</button>
                    <span id="error" class="error"></span>
                </div>
            </div>
        </mat-card>
    </form>
</div>